<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="person.name" 
          class="form-control" 
          id="name" 
          name="name" 
          placeholder="Enter your name"
          required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" [(ngModel)]="person.surname" 
          class="form-control" 
          id="surname" 
          name="surname" 
          placeholder="Enter your surname"
          required #surname="ngModel">
      </div>
      <div [hidden]="!surname.pristine" class="alert alert-danger">Surname is required</div>
      <div class="form-group">
        <label for="idNumber">ID Number</label>
        <input type="text" [(ngModel)]="person.idNumber" 
          class="form-control" 
          id="idNumber" 
          name="idNumber" 
          placeholder="Enter your id number"
          required #idNumber="ngModel">
      </div>
      <div [hidden]="!idNumber.pristine" class="alert alert-danger">ID Number is required</div>
      <div class="form-group">
        <label for="telephoneNumber">Telephone Number</label>
        <input type="text" [(ngModel)]="person.telephoneNumber" 
          class="form-control" 
          id="telephoneNumber" 
          name="telephoneNumber" 
          placeholder="Enter your telephone number"
          required #telephoneNumber="ngModel">
        <div [hidden]="!telephoneNumber.pristine" class="alert alert-danger">Telephone Number is required</div>  
      </div>
      <button type="submit" [disabled]="!userForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>